<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:jsf="http://xmlns.jcp.org/jsf">
<h:head></h:head>
<h:body>

	<h:form id="perfil" enctype="multipart/form-data" >
	  <h:message for="perfil"/>
		<h:panelGrid columns="3"  cellpadding="5" style="margin: 0 auto;">
			<h:graphicImage cache="false"
					url="/images/#{credenciais.usuarioLogueado.avatar}"  height="150px" width="150px" />
			<h:inputFile id="inputfile" value="#{credenciais.avatar}" />
			<h:message for="inputfile" />
			<h:outputText value="Nome: "  />
			<h:outputText value="#{credenciais.usuarioLogueado.nome}"  />
			<h:outputText value=""  />
			<h:outputLabel value="Nova password" for="pass" />
			<h:inputSecret id="pass" value="#{credenciais.password}" />
			<h:message for="pass" />
			<h:outputLabel value="Confirma password" for="confirmpass" />
			<h:inputSecret id="confirmpass" requiredMessage="debe repetir o contrasinal" value="#{credenciais.confirmPassword}" 
			   validator ="#{credenciais.validateConfirmPassword}"/>
			<h:message for="confirmpass" />
		
			<h:commandButton action="#{credenciais.actualiza()}" value="Gardar" />
			<h:commandButton type="reset" value="Borrar" />
			
		</h:panelGrid>
	</h:form>
	<h:form>
		<h:commandButton action="index" value="Seguir comprando" />	
	</h:form>
</h:body>
</html>
